@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'),
         url('../fonts/pacifico-v12-latin-regular.woff') format('woff'); 
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'),
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff'); 
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'),
         url('../fonts/montserrat-v12-latin-600.woff') format('woff');
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'),
         url('../fonts/montserrat-v12-latin-800.woff') format('woff');
  }
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'),
         url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'); 
  }
@font-face {
    font-family: 'Droid Serif Italic';
    font-weight: normal;
    font-style: normal;
    src: local('Droid Serif Italic');
    src: url('../fonts/DroidSerif-Italic-webfont.woff') format('woff');
}