.wrapper {
    width: 1600px;
    margin: 0 auto;
    padding-top: 35px;
  }
  
  .logo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    float: left;
    text-transform: uppercase;
    color: #555252;
    text-decoration: none;
    text-align: center;
    margin-left: 240px;
  }
  
  .logo:first-letter {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #1abc9c;
  }
  
  .menu {
    float: right;
    margin-right: 240px;
    margin-bottom: 30px;
  }
  
  .menu a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #0f0101;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
  }
  
  .menu a:hover {
    color: #1abc9c;
  }
  
  .item {
    float: left;
    height: 30px;
    margin-right: 30px;
  } 
  
  .item:last-child {
    margin: 0;
  }
  
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .slider {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .slider h2 {
    position: absolute;
    top: 215px;
    left: 410px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    width: 770px;
    height: 60px;
  }
  
  .slider span {
    position: absolute;
    top: 300px;
    left: 410px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    width: 820px;
    height: 24px;
  }
  
  .left,
  .right {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #1abc9c;
    color: #ffffff;
    font-weight: 300;
    border: 0;
  }
  
  .right {
    top: 230px;
    right: 245px;
  }
  
  .left {
    top: 230px;
    left: 245px;
  }
  
  .gallery {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e9f0fd;
  }
  
  .section h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    color: #515151;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .section {
    width: 1110px;
    margin: 0 auto;
  }
  
  .section h2::after {
    content: '';
    display: block;
    border-bottom: solid 7px rgb(26,188,156);
    width: 164px;
    margin: 30px auto 0;
  }
  
  .product {
    position: relative;
    width: 22.972973%;
    min-height: 320px;
    float: left;
    background-color: rgb(233,240,253);
    margin-bottom: 30px;
    margin-right: 2.7%;
  }
  
  .product:nth-child(4n+1) {
    margin: 0px;
  }
  
  .product:hover > .name {
    background-color: rgb(26,188,156);
  }
  
  .product:hover > .price {
    background-color: rgb(127,217,199);
  }
  
  .product:hover > .arrow {
    display: block;
  }
  
  .product:hover > .like {
    display: block;
  }
  
  .product:hover > .time {
    display: block;
  }
  
  .product:hover > .cart {
    display: block;
  }
  
  .product:hover > .cart:hover,
  .product:hover > .time:hover,
  .product:hover > .like:hover,
  .product:hover > .arrow:hover {
    border: 0;
  }
  
  .product:hover > .category {
    opacity: 0.5;
  }
  
  .buy {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 235px;
    height: 261px;
    background-color:rgb(00,00,00);
  }
  
  .category {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .like,
  .time {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    border: solid 1px #ffffff;
    color: #ffffff;
    background-color: transparent;
  }
  
  .like {
    top: 90px;
    left: 45px;
  }
  
  .time {
    top: 90px;
    right: 45px;
  }
  
  .arrow {
    display: none;
    position: absolute;
    top: 90px;
    right: 102px;
    width: 50px;
    height: 50px;
    border: solid 1px #ffffff;
    background-color:rgb(26,188,156);
    color: #ffffff;
  }
  
  .cart {
    display: none;
    position: absolute;
    top: 150px;
    right: 45px;
    width: 165px;
    height: 50px;
    border: solid 1px #ffffff;
    color: #ffffff;
    line-height: 50px;
    background-color: #323232;
    text-transform: uppercase;
  }
  
  .fa-shopping-cart {
    padding-right: 10px;
  }
  
  .name {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 188px;
    height: 40px;
    padding-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    line-height: 40px;
    background-color: rgb(50,50,50);
  }
  
  .price {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 43px;
    height: 40px;
    padding-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(255,255,255);
    text-align: left;
    line-height: 40px;
    background-color: rgb(140,140,140);
  }
  
  .footer {
    min-height: 90px;
    background-color: #323232;
    font-size: 16px;
    font-family: "OpenSans";
    font-weight: 400;
    color: rgb(254, 254, 254);
    line-height: 90px;
    text-align: center;
  }
  
  .author {
    color: #46bfa9;
    text-decoration: none;
  }